@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5EDCE;
}
/* section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(20% at right center);
} */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 150px;
    text-decoration: none;
    color: #161616;
    font-family: 'Noto Serif Display', serif;
    font-weight: 800;
    font-size: 2.5rem;
}

header .navigation{
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
}
header .navigation li a {
    display: inline-block;
    color: #161616;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
}
.content .textBox h2 {
    color: #161616;
    font-size: 1.75rem;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;

}
.content .textBox p {
    color: #161616;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #58287F;
    color: #F5EDCE;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}
.sci{
    position: absolute;
    bottom: 20px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color:  #F5EDCE;
}
.sci li a:hover{
    background-color: #89C4E1;
    transform: translateY(-10px);
}

/* Swiper */
.swiper {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    /* height: 50%; */
    padding: 20px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: inherit;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
@media (max-width: 991px) {
    header{
        padding: 40px;
    }
    section{
        padding: 150px 40px;
    }
    .sci{
        left: 40px;
    }
    .content{
        flex-direction: column;
    }
    .content .textBox,
    .content .swiper{
        max-width: 100%;
    }
    header .navigation{
        display: none;
    }    
    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #161616;
        display: flex;
        flex-direction: column;
        justify-content: center;
         align-items: center;
         z-index: 10;
         font-size: 2rem;
        
    }  
    header .navigation li a {
        margin: 10px 0 ;
        font-size: 1.5rem;
        font-weight: 300;
        color:  #F5EDCE;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(blackmenu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }
    .toggle.active{
        background: url(close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

}
